# Data exploration

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import os

## Data cleansing

In [4]:
data = pd.read_csv("combined_csv.csv", low_memory=False, dtype="object")
data.head(1)

,Id,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,Title,Tags,AnswerCount,CommentCount
0,68186938,68186998.0,2021-06-29 23:59:26,-2,31,"<p>I have a function that takes a string, brea...",5257353.0,"Comparing string arrays for matching elements,...",<python>,2,1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584638 entries, 0 to 584637
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                584638 non-null  object
 1   AcceptedAnswerId  305403 non-null  object
 2   CreationDate      584638 non-null  object
 3   Score             584638 non-null  object
 4   ViewCount         584638 non-null  object
 5   Body              584638 non-null  object
 6   OwnerUserId       577103 non-null  object
 7   Title             584638 non-null  object
 8   Tags              584638 non-null  object
 9   AnswerCount       584638 non-null  object
 10  CommentCount      584638 non-null  object
dtypes: object(11)
memory usage: 49.1+ MB

In [8]:
print((data.isnull().mean() *  100).round(2))

Id                   0.00
AcceptedAnswerId    47.76
CreationDate         0.00
Score                0.00
ViewCount            0.00
Body                 0.00
OwnerUserId          1.29
Title                0.00
Tags                 0.00
AnswerCount          0.00
CommentCount         0.00
dtype: float64